<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/contacto.css">
	<title>Document</title>
</head>

<body>

	<div th:include="plantilla.html::cabecera"></div>


	<main>
		<section>
			<form method="post" th:action="@{/adminGuardarMovil}" th:object="${obj_movil}">
				<label>Modelo: </label>
				<!-- * hace referencia al th:object-->
				<input type="text" th:field="*{modelo}" />
				<br />

				<label>Precio: </label>
				<input type="text" th:field="*{precio}" />
				<br />

				<label>Marca: </label>
				<select th:field="*{marca.id}">
					<option th:each="elem :${atr_lista_marcas}" th:text="${elem.nombre}" th:value="${elem.id}">
					</option>
				</select>
				<br />
				<input type="submit" value="Agregar">

			</form>
		</section>
	</main>


	<div th:include=" plantilla.html::footer">
	</div>


</body>

</html>